{% extends "base.html" %}

{% block content %}
<h2>{{ monument[1] }}</h2>
<img src="{{ ('static', filename=monument[4]) }}" width="400"><br><br>
<p><strong>Місто:</strong> {{ monument[2] }}</p>
<p><strong>Ціна:</strong> {{ monument[3] }} ₴</p>
<p><strong>Матеріал:</strong> {{ monument[5] }}</p>
<p><strong>Опис:</strong> {{ monument[6] }}</p>

<form method="POST" action="{{ url_for('order_monument', monument_id=monument[0]) }}">
    <label>Ваше ім'я:</label><br>
    <input type="text" name="user_name" required><br>
    <label>Телефон:</label><br>
    <input type="text" name="user_phone" required><br>
    <button type="submit">Замовити пам'ятник</button>
</form>

<br><a href="{{ url_for('show_monuments') }}">Назад до списку</a>
{% endblock %}